@font-face {
	font-family: 'Linearicons-Free';
	src:  url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-magnifier:before {
	content: "\e86f";
}

.lnr-envelope:before {
	content: "\e818";
}

.lnr-cart:before {
	content: "\e82e";
}

.lnr-alarm:before {
	content: "\e858";
}