html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: inline-block;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text;
  line-height: 30px;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.rounded {
  border: none;
  outline: none;
  border-radius: 10em;
}

.breadcrumbs {
  margin-top: auto;
  overflow: hidden;
  white-space: nowrap;
  li {
    display: inline-block;
    color: #fff;

    &:last-child {
      a,
      span {
        color: #bfcad7;
      }
    }
    & + li {
      margin-left: 10px;
      &::before {
        content: "/";
        display: inline-block;
        padding-right: 10px;
      }
    }
  }

  a,
  span {
    color: #fff;
    font-size: 15px;
  }
}
//============
.jq-selectbox.placeholder {
  color: #676767;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
  border-left: 1px solid #dcdcdc;
}
.jq-selectbox__select {
  height: 100%;
  padding: 0;
  border: none;
  // border-bottom-color: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  color: $text;
  text-shadow: none;
  min-width: 195px;
  border-left: 1px solid #dcdcdc;
  padding-left: 20px;
  line-height: 51px;
  &.placeholder {
    color: #676767;
  }
  &:hover {
    background: none;
  }
  &:active {
    background: #fff;
    box-shadow: none;
  }
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  border-left: none;
  line-height: 12px;
  &-arrow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include icon("\e874", 12px);

    position: absolute;
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 0px 0 0;
  padding: 0;
  border: 1px solid #dcdcdc;
  border-radius: 0px;
  background: #fff;
  box-shadow: none;
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  @include icon("\e873", 12px);
}

.jq-selectbox li {
  line-height: 51px;
  min-height: 0;
  padding: 0 20px;
  color: $text;
  &:hover {
    background-color: $primary;
    color: #fff;
  }
  &.selected {
    background-color: $accent;
    color: #fff;
  }
}
// e873
