$text: #555;
$primary: #0674ec;
$accent: #7347c1;

$basket-bg: #0674ec;
$mail-bg: #62d03b;
$notify-bg: #ff6a6c;

$grey-bg: #eff1f5;
$light-grey-bg: #f6f7fb;

@mixin icon($code, $size){
   &::before{
      cursor: pointer;
      font-family: "Linearicons-Free";
      font-size: $size;
      content: $code;
   }
}



  