@import "vars";
@import "global";
@import "fonts";

//=======Header =============

.header {
  &__top {
    background-color: #eef1f3;
  }
  &__top-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      min-width: 140px;
      padding: 10px 15px;
      background-color: $primary;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      margin-left: auto;
      margin-right: 50px;
      cursor: pointer;
      &:active {
        box-shadow: none;
      }
    }
  }

  &__logo {
    font-size: 30px;
    font-weight: 700;
    color: $primary;
    span {
      color: #000;
    }
    img {
      vertical-align: middle;
    }
  }

  &__icon {
    //cursor: pointer;
    //  font-family: "Linearicons-Free";
    //  font-size: 20px;
    & + & {
      margin-left: 15px;
    }
  }

  &__author {
    cursor: pointer;
    margin-left: 25px;
    font-weight: 500;
    img {
      height: 50px;
      width: 50px;
      background-color: #4e5966;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
    }
    &-name {
      display: inline-block;
      margin-left: 15px;
      line-height: 22px;
      vertical-align: middle;
      span {
        display: block;
        color: $primary;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }

  &__lower-inner {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    li {
      display: inline-block;

      & + li {
        margin-left: 30px;
      }
      a {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        color: #333;
      }
    }
  }

  &__search-form {
    min-width: 360px;
    position: relative;
    form {
      width: 100%;
      display: block;
    }
    input {
      width: 100%;
      height: 45px;
      display: block;
      padding: 0 85px 0 25px;
      border: 1px solid #d9dfe5;
      font-size: 15px;
      &::placeholder {
        color: #898f96;
        font-size: 15px;
      }
    }
    button {
      position: absolute;
      height: 45px;
      width: 70px;
      background-color: $primary;
      cursor: pointer;
      color: #fff;
      top: 0;
      right: 0;
      @include icon("\e86f", 15px);
    }
  }
}

.notifi-icon {
  @include icon("\e858", 20px);
}
.letter-icon {
  @include icon("\e818", 20px);
}
.cart-icon {
  @include icon("\e82e", 20px);
}

//===== Search =============

.search {
  background-image: linear-gradient(to left, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
}

.search__inner {
  min-height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 0;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 65px;

  h1 {
    line-height: 70px;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 30px;
    span {
      font-weight: 400;
      display: block;
    }
  }
  &-text {
    font-size: 20px;
    font-weight: 500;
  }
  &-btn {
    margin: 65px 0px 100px;
    button {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      padding: 20px 30px;
      cursor: pointer;

      & + button {
        margin-left: 30px;
      }
      &:hover {
        background-color: #fff;
        color: $primary;
      }
    }
  }
}

.search__inner-form {
  width: 100%;
  position: relative;
  margin-top: auto;
  padding: 40px;
  border-radius: 6px;
  background-color: #fff;
  transform: translateY(50%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  form {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 2;

    .form-group {
      display: flex;
      flex-grow: 1;
      align-items: stretch;
      border: 1px solid #dcdcdc;
      border-radius: 4px;

      input {
        padding: 0 25px;
        flex-grow: 1;
        border: none;
        color: $text;
        &::placeholder {
          color: #676767;
        }
      }
      select {
        border: none;
        border-left: 1px solid #dcdcdc;
        padding: 0 70px 0 15px;
        color: $text;
      }
    }
    button {
      background-color: $primary;
      border: none;
      border-radius: 4px;
      color: #fff;
      margin-left: 30px;
      padding: 20px 65px;
      cursor: pointer;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: #fff;
    z-index: 1;
    opacity: 0.5;
    height: 100%;
  }
  &::after {
    top: -13px;
    transform: scale(0.97);
  }
  &::before {
    top: -27px;
    transform: scale(0.94);
  }
}

//===== Advantages===========

.advantages {
  &__inner {
    min-height: 710px;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 365px;
    min-height: 400px;
    padding: 40px 15px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s;
    text-align: center;
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      transform: scale(1.05);
    }
    &-img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      background-image: url();
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-title {
      font-size: 24px;
      padding: 30px 0;
    }
  }
}

//======== Products ===========

.products {
  background-color: $grey-bg;

  &__inner {
    padding: 120px 0;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__item {
    width: 100%;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);


  }

  &__content {
    max-width: 585px;
    min-height: 450px;
    width: 100%;
    padding: 45px 50px 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 110px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &__text {
    font-size: 30px;
    color: #000;
  }

 
  &__box-filter {
    img {
      cursor: pointer;
      display: inline-block;
      padding-left: 25px;
      vertical-align: middle;
      height: 25px;
    }
  }
  &__control {
   height: 45px;
   width: 110px;
   border-radius: 45px;
   display: flex;
   align-items: stretch;

   overflow: hidden;
    &_bg-accent {
      background-color: $accent;
    }
    &_bg-primary {
      background-color: $primary;
    }
  }

  &__btn-left,
  &__btn-right {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    flex-basis: 100%;
    color: #fff;
  }
  &__btn-left {
    @include icon("\e875", 14px);
  }
  &__btn-right {
    @include icon("\e876", 14px);
  }
}


 

.card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;

  &_v {
    flex-direction: column;
    .card__img {
      min-height: 230px;
    }
  }

  &__img {
    width: 100%;
    background-color: #4e5760;
  }

  &.card_v &__content {
    max-width: 100%;
  }

  &__content {
     flex-grow: 1;
   //   height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
  }
  &__title_big {
    font-size: 24px;
  }
  &__title_middle {
    font-size: 20px;
  }
  &__wrap {
    margin-bottom: 30px;
  }
  &__wrap > *,
  &__wrap img {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
  }
  &__author {
    margin-left: 9px;
    color: #000;
  }
  &__category {
    vertical-align: sub;
    margin-left: 19px;
    color: $accent;
    img{
      margin-right: 5px;  
      display: inline-block;
    }
    svg {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 5px;
      path {
        fill: $accent;
      }
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 40px;
    li {
      display: inline-block;
      & + li {
        margin-left: 5px;
      }
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid #ececec;
    align-items: center;
    font-size: 15px;

    &_last {
      order: 1;
      margin-left: auto !important;
    }
  }

  &__price {
    height: 32px;
    padding: 0 18px;
    margin-right: 20px;
    border-radius: 19px;
    color: $primary;
    background-color: #e6f1fd;
    &_primary {
      color: #fff;
      background-color: $primary;
    }
  }

  &__like {
    @include icon("\e813", 15px);
    color: $accent;
    span {
      display: inline-block;
      margin-left: 9px;
      font-size: 15px;
      color: #000;
    }
  }
  &__rate{
     margin-left: 15px;
  }

  &__sale {
    color: $primary;
    margin-left: 18px;
    @include icon("\e82e", 15px);
    span {
      display: inline-block;
      margin-left: 9px;
    }
  }
}
.chip {
  height: 30px;
  text-align: center;
  padding: 0 15px;
  background-color: #f1f3f6;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

//======== Newest Products ============

.newest-products{
   &__box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: stretch;
   }
   &__item{
      // max-height: 530px;
      max-width: 360px;
      margin-bottom: 30px;
      width: 100%;
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
   }
   &__item-content{
      padding: 30px 30px 0px;


   }
   .card__footer{
      padding: 15px 30px;
   }
   
}

 
