@import "vars";
@import "global";
@import "fonts";

//=======Header =============

.header {
  &__top {
    background-color: #eef1f3;
  }
  &__top-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      min-width: 140px;
      padding: 10px 15px;
      background-color: $primary;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      margin-left: auto;
      margin-right: 50px;
      cursor: pointer;
      &:active {
        box-shadow: none;
      }
    }
  }

  &__logo {
    font-size: 30px;
    font-weight: 700;
    color: $primary;
    span {
      color: #000;
    }
    img {
      vertical-align: middle;
    }
  }

  &__icon {
    //cursor: pointer;
    //  font-family: "Linearicons-Free";
    //  font-size: 20px;
    & + & {
      margin-left: 15px;
    }
  }

  &__author {
    cursor: pointer;
    margin-left: 25px;
    font-weight: 500;
    img {
      height: 50px;
      width: 50px;
      background-color: #4e5966;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
    }
    &-name {
      display: inline-block;
      margin-left: 15px;
      line-height: 22px;
      vertical-align: middle;
      span {
        display: block;
        color: $primary;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }

  &__lower-inner {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    li {
      display: inline-block;

      & + li {
        margin-left: 30px;
      }
      a {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        color: #333;
      }
    }
  }

  &__search-form {
    position: relative;
    form {
      width: 100%;
      display: block;
    }
    input {
      height: 45px;
      display: block;
      padding: 0 85px 0 25px;
      border: 1px solid #d9dfe5;
      font-size: 15px;
      width: 360px;
      transition: all 0.2s;
      &::placeholder {
        color: #898f96;
        font-size: 15px;
      }
      &:focus {
        width: 500px;
      }
    }
    button {
      position: absolute;
      height: 45px;
      width: 70px;
      background-color: $primary;
      cursor: pointer;
      color: #fff;
      top: 0;
      right: 0;
      @include icon("\e86f", 15px);
    }
  }
}

.notifi-icon {
  @include icon("\e858", 20px);
}
.letter-icon {
  @include icon("\e818", 20px);
}
.cart-icon {
  @include icon("\e82e", 20px);
}

//==== Face =====

.face {
  background-image: linear-gradient(
    to left,
    rgb(0, 48, 222) 0%,
    rgb(23, 69, 237) 54%,
    rgb(46, 90, 251) 100%
  );

  &__inner {
    display: flex;
    min-height: 730px;
    max-width: 945px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
  }

  h1 {
    line-height: 70px;
    font-weight: 700;
    font-size: 60px;
    span {
      font-weight: 400;
      display: block;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
  }

  &__btn {
    margin-top: 65px;
    button {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      width: 195px;
      height: 57px;
      cursor: pointer;

      & + button {
        margin-left: 30px;
      }
      &:hover {
        background-color: #fff;
        color: $primary;
      }
    }
  }
}

//===== Search =============

.search {
  &__inner {
    min-height: 710px;
    padding: 0px 0 120px;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  &__form {
    transform: translateY(-50%);
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      border-radius: 6px;
      background-color: #fff;
      z-index: 1;
      opacity: 0.5;
      height: 100%;
    }
    &::after {
      top: -13px;
      transform: scale(0.97);
    }
    &::before {
      top: -27px;
      transform: scale(0.94);
    }
  }

  &__item {
    width: 365px;
    min-height: 400px;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      transform: scale(1.05);
    }
  }
}

.form-search {
  height: 135px;
  width: 100%;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

  &__group {
    display: flex;
    align-items: stretch;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    height: 53px;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    input {
      width: 100%;
      padding: 0 25px;
      border: none;
      color: $text;
      outline: none;
      &::placeholder {
        color: #676767;
      }
    }
    select {
      min-width: 195px;
      border: none;
      border-left: 1px solid #dcdcdc;
      // padding: 0 70px 0 15px;
      color: $text;
    }
  }
  button {
    z-index: 2;
    height: 53px;
    min-width: 225px;
    background-color: $primary;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
  }
}

.item-search {
  padding: 40px 35px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  &__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    // background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 24px;
    padding: 25px 0;
  }

  &__text {
  }
}

//======== Products ===========
.slider-products {
  margin: -20px;
  &__wrap {
    padding: 20px;
  }
}
.products {
  background-color: $grey-bg;
  &__inner {
    padding: 120px 0;
  }
  .title {
    margin-bottom: 50px;
    &__control {
      background-color: $accent;
    }
  }
  .card {
    min-height: 450px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    &__title {
      margin-bottom: 20px;
      font-size: 24px;
    }
    &__content {
      padding: 45px 50px 0;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__img {
      min-width: 555px;
    }
    &__price {
      color: #fff;
      background-color: $primary;
    }
    &__rate {
      margin-left: auto;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 110px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &__text {
    font-size: 30px;
    color: #000;
  }
  &__filter {
  }

  &__filter {
    span {
      color: #747b86;
    }
    img {
      vertical-align: middle;
      padding-left: 20px;
      cursor: pointer;
    }
  }
  &__control {
    height: 45px;
    width: 110px;
    border-radius: 45px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
  }
  &__btn-left,
  &__btn-right {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    flex-basis: 100%;
    color: #fff;
  }
  &__btn-left {
    @include icon("\e875", 14px);
  }
  &__btn-right {
    @include icon("\e876", 14px);
  }
}

.caption {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 60px;
  &__text {
    font-size: 36px;
    color: $primary;
    margin-bottom: 25px;
    span {
      color: #000;
    }
  }
}

.card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  width: 100%;

  &__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__control {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    button {
      margin: 5px;
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      width: 130px;
      height: 45px;
      position: relative;
      transition: all 0.3s;
      cursor: pointer;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      font-weight: 500;
      &:first-child {
        transform: translateX(-200%);
      }
      &:last-child {
        transform: translateX(200%);
      }
      &:hover {
        background-color: #fff;
        color: $primary;
      }
    }
    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgb(0, 48, 222) 0%,
        rgb(23, 69, 237) 54%,
        rgb(46, 90, 251) 100%
      );
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      button {
        &:first-child {
          transform: translateX(0);
        }
        &:last-child {
          transform: translateX(0);
        }
      }
    }
  }
  &__content {
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    color: #000;
    font-weight: 500;
  }
  &__wrap {
    margin-bottom: 30px;
    font-size: 15px;
    & > img {
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__author {
    margin-left: 9px;
    color: #000;
  }
  &__category {
    vertical-align: sub;
    margin-left: 19px;
    color: $accent;
    img {
      margin-right: 5px;
      display: inline-block;
    }
    svg {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 5px;
      path {
        fill: $accent;
      }
    }
  }
  &__text {
  }
  &__list {
    margin-bottom: 40px;
    li {
      display: inline-block;
      & + li {
        margin-left: 5px;
      }
    }
  }
  &__footer {
    display: flex;
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid #ececec;
    align-items: center;
    font-size: 15px;
  }
  &__price {
    height: 32px;
    padding: 0 18px;
    border-radius: 16px;
    margin-right: 15px;
  }
  &__like {
    @include icon("\e813", 15px);
    color: $accent;
    span {
      display: inline-block;
      // margin-left: 9px;
      font-size: 15px;
      color: #000;
    }
  }
  &__rate {
    margin-left: 15px;
  }
  &__sale {
    color: $primary;
    margin-left: 18px;
    @include icon("\e82e", 15px);
    span {
      display: inline-block;
      // margin-left: 9px;
    }
  }
}
.chip {
  height: 30px;
  text-align: center;
  padding: 0 15px;
  background-color: #f1f3f6;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

//======== Newest Products ============
.slider-followers {
  .slick-list {
    // display: flex;
    margin: 0 -15px;
  }
}
.newest {
  background-color: $light-grey-bg;
  &__inner {
    padding: 120px 0;
  }
  .title {
    margin-bottom: 30px;
  }
  &__chips {
    height: 93px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }
  .chip {
    &.mixitup-control-active {
      background-color: $primary;
      color: #fff;
    }
    & + .chip {
      margin-left: 10px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 60px;
  }

  &__btn {
    display: block;
    width: 190px;
    height: 55px;
    margin: 0 auto;
    color: #fff;
    background-color: $primary;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:active{
      box-shadow: none;
    }
  }
}

.newest,
.followers {
  .card {
    margin: 0 auto;
    flex-direction: column;
    max-width: 360px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    &__price {
      color: $primary;
      background-color: #e6f1fd;
    }
    &__img {
      height: 235px;
    }
    &__sale {
      order: 1;
      margin-left: auto;
    }
    &__footer {
      padding: 15px 25px;
    }
    &__inner {
      padding: 30px 30px 35px;
    }
  }
}

//========== Followers ===================
.followers {
  background-color: $grey-bg;
  .title {
    margin-bottom: 50px;
    &__control {
      background-color: $primary;
    }
  }
  &__inner {
    padding: 120px 0;
  }
  &__slider {
  }
}

// end Followers
// start statistic
.statistic {
  background-color: #212225;

  &__inner {
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    span {
      color: #fff;
      font-size: 18px;
      margin-top: 15px;
    }
    &::before {
      font-family: "Linearicons-Free";
      margin-bottom: 50px;
      font-size: 48px;
    }
    &:nth-child(1) {
      color: #feb71d;
      &::before {
        content: "\e84c";
      }
    }
    &:nth-child(2) {
      color: #58c9e9;
      &::before {
        content: "\e80b";
      }
    }
    &:nth-child(3) {
      color: #58c9e9;
      &::before {
        content: "\e854";
      }
    }
    &:nth-child(4) {
      color: #ff6a6d;
      &::before {
        content: "\e82b";
      }
    }
  }
}
// end statistic

// start advantage
.advantage {
  background-color: #fff;
  min-height: 1185px;
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 365px;
    width: 100%;
    min-height: 375px;
    margin-bottom: 30px;
  }
}

.item-advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  &__num {
    font-weight: 300;
    align-self: flex-start;
    font-size: 48px;
    color: #5c87f8;
    opacity: 0.2;
  }
  &__icon {
    font-size: 60px;
    line-height: 55px;
    margin-bottom: 40px;
    &::before {
      font-family: "Linearicons-Free";
    }
    &-license {
      &::before {
        content: "\e822";
        color: #0674ec;
      }
    }
    &-magic-wand {
      &::before {
        content: "\e803";
        color: #7f4ec2;
      }
    }
    &-lock {
      &::before {
        content: "\e80f";
        color: #77de51;
      }
    }

    &-chart-bars {
      &::before {
        content: "\e843";
        color: #feb71d;
      }
    }
    &-leaf {
      &::before {
        content: "\e849";
        color: #58c9e9;
      }
    }
    &-phone {
      &::before {
        content: "\e831";
        color: #ff6a6d;
      }
    }
  }

  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
  }
  &__text {
    padding: 0 15px;
  }
}
// end advantage

// start starting
.starting {
  display: flex;
  // flex-direction: column;
  
  &__item{
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 15px;
    &:nth-child(1){
      background-color: $primary;
      background-image: url('../images/sell-bg.png');
    }
    &:nth-child(2){
      background-color: $accent;
      background-image: url('../images/shopping-bg.png');
    }
  }
}
.item-starting{
  text-align: center;
  min-height: 565px;
  &__img{
    margin-bottom: 45px;
  }
  &__title{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  &__text{
    max-width: 585px;
    margin-bottom: 45px;
  }
  &__btn{
    height: 55px;
    min-width: 190px;
    border-radius: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

  }
}

.become-author-btn{
  color: $primary;
}
.start-shopping-btn{
  color: $accent;
}

// end starting
//start reviews
.reviews {
  background-color: #fff;
  min-height: 840px;
  padding: 120px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  &__item {
    max-width: 555px;
    min-height: 320px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);

  }
  
  &__btn {
    width: 190px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    border-radius: 55px;
    color: #fff;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    &:active{
      box-shadow: none;
    }

  }
}

.item-reviews {
  border-left: 2px solid $primary;
  padding: 50px 40px;

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__userpic {
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    border-radius: 50%;
  }

  &__author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__icon {
    margin-left: auto;
    &::before{
      content: '\e83f';
      font-family: 'Linearicons-Free';
      font-size: 60px;
      color: #e8e8e8;
    }
  }
}
.author-reviews {

  &__name {
    color: #000;
    font-size: 20px;
  }

  &__desc {
  }
}


//end reviews


//========= Footer =======
.footer {
  background-color: #262b30;

  &__inner {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    font-size: 15px;
    color: #ababab;
    & a {
      font-size: 15px;
      color: #ababab;
      display: block;
    }
    width: 100%;
    &-info {
      max-width: 275px;
    }
    &-menu {
      max-width: 175px;
    }
    &-subscribe {
      max-width: 380px;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__info {
    padding-left: 30px;
    position: relative;
    width: 100%;
    &::before {
      content: "\e833";
      position: absolute;
      font-family: "Linearicons-Free";
      font-size: 16px;
      left: 0;
    }
    &-phone {
      &::before {
        content: "\e830";
      }
    }
    &-mail {
      &::before {
        content: "\e818";
      }
    }
  }

  &__title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;

    &-logo {
      color: $primary;
      font-weight: 700;
      font-size: 24px;
      position: relative;
      padding-left: 42px;
      &::before {
        content: "";
        width: 40px;
        height: 40px;
        background-image: url("../images/logo-footer.png");
        position: absolute;
        top: -5px;
        left: 0;
      }
      span {
        color: #fff;
      }
      img {
        vertical-align: middle;
      }
    }
  }

  &__list {
    line-height: 24px;
    li {
      margin-bottom: 10px;
    }
  }

  &__form {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    height: 50px;
    width: 375px;
    input {
      border: none;
      height: 100%;
      width: 100%;
      padding: 0 120px 0 30px;
      &::placeholder {
        color: #ababab;
      }
    }
    button {
      height: 100%;
      width: 115px;
      border-radius: 50px;
      border: none;
      position: absolute;
      top: 0;
      right: 0px;
      cursor: pointer;
      background-color: $primary;
      color: #fff;
    }
  }

  &__social {
    margin-top: 40px;
    li {
      display: inline-block;
      & + li {
        margin-left: 15px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      &::before {
        font-family: "icomoon";
        color: #fff;
      }
    }
  }

  &__copy {
    height: 95px;
    text-align: center;
    padding: 30px 0;
    background-color: #192027;
    font-size: 15px;
    color: #999;
    span {
      color: #fff;
    }
  }
}
.link-facebook {
  background-color: #395799;
  &::before {
    content: "\f09a";
  }
}
.link-twitter {
  background-color: #19b2f5;
  &::before {
    content: "\f099";
  }
}
.link-google {
  background-color: #f05b44;
  &::before {
    content: "\f1a0";
  }
}
.link-pinterest {
  background-color: #9c0c1c;
  &::before {
    content: "\f0d2";
  }
}
.link-linkedln {
  background-color: #0da6be;
  &::before {
    content: "\f0e1";
  }
}
.link-dribbble {
  background-color: #ea4c89;
  &::before {
    content: "\f17d";
  }
}

//====== End Footer ================
